.card-item {
  width: 90px;
  height: 100px;
  display: flex;
  margin: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  cursor: pointer;
  padding: 4px;
}

.card-item:hover {
  border: 1px solid gray;
  box-shadow: 0 0 5px gray;
}

.card-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0 -10px; */
  max-width: 38%;
}

.picture-container {
  display: flex;
  justify-content: center;
}
