.boxes {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 20px;
  margin: 0 auto;
}

.box {
  height: 80px;
  width: 80px;
  transition: background-color 0.5s ease-in-out;
}

.box.visible {
  border: 1px solid black;
  cursor: pointer;
}

.box.hidden {
  cursor: initial;
  opacity: 0;
  display: unset;
}
.box.selected {
  background-color: green;
}
